EMAIL_FROM=
RESEND_API_KEY=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_URL=
VITE_MAX_DOCUMENT_SIZE_MB=
VITE_MAX_PHOTO_SIZE_MB=
VITE_MAX_VIDEO_SIZE_MB=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=