AWS_ACCESS_KEY_ID=
AWS_REGION=
AWS_SECRET_ACCESS_KEY=
EMAIL_FROM=
SES_CONFIGURATION_SET=
SES_MAX_SEND_RATE=10
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_URL=
VITE_MAX_DOCUMENT_SIZE_MB=
VITE_MAX_PHOTO_SIZE_MB=
VITE_MAX_VIDEO_SIZE_MB=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=